@page "/notify"
@inherits Reciever.Components.RecieverComponent
@using Microsoft.AspNetCore.SignalR.Client

<h1>Welcome to SignalR with Blazor</h1>
<div class="container">
    <div class="row">
        <h3>Connection Status: @connectionStatus</h3>
        <button class="btn btn-success" @onclick="async () => await NotifyMe()">NotifyMe</button>
    </div>
    <div class="row">
        <div class="col-4">
            @foreach (var item in notifications)
            {
                <div class="row">
                    <h4>@item</h4>
                </div>
            }
        </div>
    </div>
</div>